[defaults]

#--- General settings
interpreter_python       = "/usr/bin/python3"

#--- Files/Directory settings
inventory                = "/home/mcnd2/Projetos/ansible-zabbix-agent/hosts"

#remote_user = ansible

#--- Use the YAML callback plugin.
stdout_callback          = yaml

#--- Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks    = True

#--- Deprecation warnings can be disabled.
deprecation_warnings     = False
